<section class="heading-section">
    <h1>ToDo’s</h1>
</section>

<div class="container add-todo-box-container">
    <div class="add-todo-box">

        <form>
            <div class="flex-container">
                <p style="flex: 1;">
                    <input required minlength="2" name="text" class="input" type="text"
                        placeholder="Schreib dein ToDo, musst du tun...">
                </p>
                <p>
                    <button type="submit" class="button alt-gradient-button">
                        <i class="material-icons">add</i>
                        Hinzufügen
                    </button>
                </p>
            </div>
        </form>

    </div>
</div>

<section class="section">
    <div class="container">
  
      <div class="todos-list">
        
  
      </div>
  
    </div>
  </section>